
body::-webkit-scrollbar {
    display: none;
}

h1{
color: white;
}
.btn{
    /* color: rgb(255, 255, 255); */
    /* background-color: transparent;    */
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid white; */
}
.btn:hover{
    background-color: #fff;
    color: black;
    box-shadow: 18px 18px 250px 50px #ffffff80;
   
}
.btn:active{
 box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.611) inset, 18px 18px 250px 50px #ffffff80;

}
img{
margin-bottom: 0px;
margin: 0;
padding: 0;

}
p{
color: white;
}


@media (max-width: 768px) {
  p {
    font-size: 2px; 
  }
}

.text-gradient{
    background: linear-gradient(90deg,#0093E9 0,#80D0C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
}
.Rating{
display: flex;
align-items: center;
justify-content:space-around;
margin-top: 12px;
}